<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tes Junior Back End Programmer</title>
    <link rel="stylesheet" href="http://localhost:9000/assets/scripts/css/index.css" />
    <script src="http://localhost:9000/assets/scripts/js/controller-views.js"></script>
  </head>
  <body>
    <header>
      <center><h1>Tes Junior Back End Programmer</h1></center>
    </header>
    <nav id="container-main-menu">
      <ul id="main-menu">
        <li style="border-left: dotted whitesmoke 1px"><a href="http://localhost:9000/">home</a></li>
        <li style="border-left: dotted whitesmoke 1px"><a href="http://localhost:9000/produk">produk</a></li>
        <li style="border-left: dotted whitesmoke 1px"><a href="http://localhost:9000/kategori">kategori</a></li>
        <li style="border-left: dotted whitesmoke 1px"><a href="http://localhost:9000/status">status</a></li>
        <!-- <li><a onclick="">card</a></li>
        <li>
          <a onclick=""><span class="fas fa-code"></span></a>
        </li> -->
      </ul>
    </nav>
    <main id="container-content">
      <article>test1</article>
      <article>test2</article>
      <article>test3</article>
    </main>
    <aside id="container-fitur">
      <div class="widget">
        <div class="btn btn-primary">tambah</div>
      </div>
      <div class="widget">
        <input type="text" class="form-control" id="search" placeholder="search" />
        <div class="btn btn-primary"><span class="fas fa-magnifying-glass"></span></div>
      </div>
    </aside>
    <footer></footer>
    <script src="http://localhost:9000/assets/vendor/bootstrap-5.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
